.modal.hidden {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal.open {
  display: block;
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
  height: 400px
}

.modal h2 {
  margin-top: 0;
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modal form div {
  margin-bottom: 10px;
}

.modal form label {
  font-weight: bold;
  width: 100%;
  text-align: left;
}

.modal .date-picker{
  width: 218px
}

.modal .form-container{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.modal .form-container-left,
.modal .form-container-right{
  width: 240px;
  float: left;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.modal .form-fields-group{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.modal-buttons {
  display: flex;
  justify-content: center;
}

.modal-buttons button {
  margin-left: 10px;
}

.error-msg {
  font-size: 12px;
  margin: 0;
  padding: 5px 0;
  text-align: left;
}
