.product-table-container {
  background: #FFFFFF;
  padding: 20px;
  overflow-x: hidden;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  border: none;
}

.product-table th {
  text-align: left;
  padding: 15px 20px;
  border-bottom: 1px solid #ccc;
  background: #f9fafc;
}

.product-table td {
  text-align: left;
  padding: 15px 20px;
  border-bottom: 1px solid #ccc;
}

.product-table-container > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.product-table input {
  width: 200px;
  padding: 5px;
}

.product-table p {
  margin: 0;
}

.add-button {
  margin-right: 10px;
}
