.App {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.app-header{
  padding: 40px;
}

.app-container{
  padding: 40px;
  background: #f4f6f9;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
