body {
  margin: 0;
  font-family: -apple-system, Arial, Helvetica, sans-serif, 'Apple Color Emoji';
  font-size: 11px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: #f9de4b;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}

input[type='text']{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
}
